html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally center the box */
    align-items: center; /* Vertically center the box */
    background-color: #f0f0f0; /* Background color for contrast */
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #ff3c00, #ff8700);
  display:flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 30%;
  height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  border-radius: 8px; /* Optional rounded corners */
  transition: transform 0.3s ease-out; /* Smooth animation */
}

.like-dislike-container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.like-dislike {
  width: 65px;
  height: auto;
}

#form {
  background-image: linear-gradient(180deg, #ff3c00, #ff8700);
  width: 60%;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7; 
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}
