html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Horizontally center the box */
    align-items: center; /* Vertically center the box */
    background-color: #f0f0f0; /* Background color for contrast */
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #ff3c00, #ff8700);
  display:flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 30%;
  height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
  border-radius: 8px; /* Optional rounded corners */
  transition: transform 0.3s ease-out; /* Smooth animation */
}
